*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #eef2f3;
    margin: 0 auto;
}
a{
    color : inherit;
    text-decoration: none;
}
/* 컨테이너 */
.container{
    display: flex;
    min-height: 100vh;
}

/* sidebar 영역 */
.sidebar{
    width: 240px;
    padding: 30px 20px;
    background-color: #263238;
    color: white;
}
.sidebar h2{
    color: #ffcc80;
    font-size: 26px;
}
nav{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    gap: 30px;
}
nav a{
    transition: all 0.3s ease;
}
nav a:hover{
    background-color: #37474f;
    transform: translateX(8px);
}

/* 메인 대시보드 */
.main-dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
}
/* header 영역 */
.headline{
    background-color: white;
    border-radius: 18px;
    padding: 24px 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
    line-height: 1;
}
.head-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
}
.head-item{
    background-color: white;
    border-radius: 18px;
    padding: 0 24px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.head-item .num{
    color: #ef6c00;
    font-weight: bold;
    font-size: 38px;
    line-height: 0;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;       /* 전체 테두리는 연한 회색 */
  border-top: 5px solid #3498db;   /* 윗부분 테두리만 파란색으로 포인트 */
  border-radius: 50%;              /* 완벽한 원으로 만듦 */
  
  /* spin 대본을 1초 동안, 같은 속도(linear)로, 무한히(infinite) 회전시킴 */
  animation: spin 1s linear infinite;
}

/* 0도에서 360도까지 영원히 회전하는 대본 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}