* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    text-align: center;
}

header {
    background-color: #2ecc71;
    color: white;
    padding: 20px;
}

nav {
    background-color: #27ae60;
    color: white;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: lightgray;
}

section {
    flex: 7;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

aside {
    flex : 3;
    background-color: #dfe6e9;
    padding: 20px;
    border-radius: 8px;
}