*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #f5f6fa;
    margin: 0 auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left{}

.header__right{
    flex-direction: row;
}
.header__right ul{
    list-style: none;
    display: flex;
    gap: 20px;
}